include INSTALL
include LICENSE
include README.md
include test.py
recursive-include src/ext *
recursive-include pkg *
recursive-include test *
recursive-exclude test *.pyc
recursive-exclude test *.pyo
