include INSTALL
include LICENSE
include README.md
include pyenv.sh
include test.py
include .gitignore
include src/dewyatochkad
include src/dewyatochkactl
recursive-include data *
recursive-include pkg *
recursive-include test *
recursive-exclude test *.pyc
recursive-exclude test *.pyo
